.container {
    position: relative;
}

.icon {
    position: absolute;
    top: 3px;
    left: 14px;
    font-size: 40px;
    z-index: 20;

    width: 70px;
    color: #6bf6e3;
    background-color: black;
    border-radius: 50px;
}

.contNav {
    display: flex;
    gap: 24px;
    background-color: white;
    border-radius: 8px;
    border-bottom: 0.5px solid #d8d6d6;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
    padding: 8px;
    margin-bottom: 20px;
    list-style-type: none;
    padding-left: 110px;

    position: relative;
    z-index: 10;
}


.link {
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 8px;
}

.link:hover {
    text-decoration: underline;
}

.active {
    color: orange;
}