.contCast {
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    user-select: none;
    list-style: none;
}

.actorPhoto {
    width: calc((100% - 8 * 55px) / 9);
}

.textCharacter {
    font-style: italic;
    text-decoration: underline;
}

.imgStyles {
    width: 100px;
    height: 150px;
    cursor: pointer;
    /* border-radius: 16px; */
    object-fit: cover;
    transition: transform 250ms ease-in-out;
}

.imgStyles:hover {
    transform: scale(1.05);
}