.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contLinkHome {
    display: block;
    width: 150px;
    background-color: rgb(16, 177, 91);
    border: 1px solid black;
    padding: 8px;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
    margin: 0 auto;
}

.contLinkHome:hover {
    background-color: rgb(148, 232, 51);
    color: black;
}

.contLinkHome:active {
    background-color: rgb(42, 218, 115);
    color: black;
}

.textMessage {
    color: rgb(255, 145, 0);
    font-size: 22px;
    margin-bottom: 20px;
}